


#teamcards .tabs {
    /* display: flex; */
    /* justify-content: space-around; */
    list-style-type: none;
    margin: 0;
    padding: 0;
    color: white;
    cursor: pointer;
}

#teamcards {
    display: flex;
    min-height: 100vh;
    width: 100vw;
    overflow: hidden;
    position: relative;
    flex-direction: row;
    background-color: rgb(218, 30, 30);
}

#teamcards .container .mem {

    position: relative;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 15vh 10vw 15vh 10vw;
    display: none;
    width: 80vw;
    justify-content: center;
    
}



/* Side bar adjustment of hovering and positioning! */
#teamcards .sidebar {
    left: 2vw;
    top: 25vh;
    position: fixed;
    height: 23em;
    width: 5.6em;
    background: rgba(255, 255, 255, 0.3);
    padding: 1em;
    border-radius: 1.2em;
    z-index: 2;


    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none;
}


#teamcards .sidebar ul {
    padding: 0.7em 0 0 0;
    
}

#teamcards .sidebar ul li {
    position: relative;
    height: 3.2em;
    width: 100%;
    /* margin: 0 5px; */
    list-style: none;
    line-height: 3em;
    border-radius: 1em;
}



#teamcards .sidebar ul li .a {
    color: #fff;
    display: flex;
    align-items: center;
    transition: all 0.5s ease;
    border-radius: 1em;
}

#teamcards .sidebar ul li:hover .a {
    background: #fff;
    color: black;
}

#teamcards .sidebar ul li .a i {
    height: 1.7em;
    min-width: 1.7em;
    border-radius: 0.1em;
    line-height: 1.7em;
    text-align: center;
    font-size: 2em;
}

#teamcards .sidebar ul li .tooltip {
    position: absolute;
    left: 7em;
    top: 0;
    transform: translateY(-50%);
    border-radius: 0.4em;
    height: 2em;
    width: 10em;
    background: #fff;
    line-height: 2em;
    text-align: center;
    box-shadow: 0 1em 2em rgba(0, 0, 0, 0.2);
    transition: 0s;
    opacity: 0;
    pointer-events: none;


    
}



#teamcards .sidebar ul li:hover .tooltip {
    transition: all 0.5s ease;
    opacity: 1;
    top: 50%;
    
}

#teamcards .container .mem .card {
    position: relative;
    width: 250px;
    height: 320px;
    background: rgba(255, 255, 255, 0.05);
    margin: 1.4em;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    display: flex;
    align-items: center;
    backdrop-filter: blur(20px);
    justify-content: center;

}

#teamcards .mem .card .cardcontent {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0.5;
    transition: 0.5s;
}

#teamcards .mem .card:hover .cardcontent {
    opacity: 1;
    transition: 1s;
    transform: translateY(-20px);
}

#teamcards .mem .card:hover {
    transition: 1s;
    transform: scaleZ(1.2);
}

#teamcards .mem .card:hover::before {
    transition: 0.5s;
    transform: scale(1.2);
}

#teamcards .mem .card .cardcontent .imgBx {
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    border: 10px solid rgba(0, 0, 0, 0.25);
    background-color: white;
}


/* Image adjustments has to be done beforehand (resize to width)*/

#teamcards .mem .card .cardcontent .imgBx img {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
    object-position: top right;
}

#teamcards .mem .card .cardcontent .contentBx h3 {
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 500;
    font-size: 18px;
    text-align: center;
    margin: 20px 0 10px;
    line-height: 1.1em;
}

#teamcards .mem .card .cardcontent .contentBx h3 span {
    font-size: 12px;
    font-weight: 300;
    text-transform: initial;
}

#teamcards .mem .card .sci {
    position: absolute;
    bottom: 40px;
    display: flex;
}

#teamcards .mem .card .sci li {
    list-style: none;
    margin: 0 10px;
    transform: translateY(30px);
    transition: 0.5s;
    opacity: 0;
    transition-delay: calc(0.1s * var(--i));
}

#teamcards .mem .card:hover .sci li {
    transform: translateY(0px);
    opacity: 1;
    transition: 0.5s;
}

#teamcards .mem .card .sci li a {
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 24px;
}

